html, body{
  height: 100%;
  width: auto;
}
body {
  line-height: 1.8;
  font-family: Monospace;
}
body, .app {
  background: white;
}
.app-title {
  padding: 3px 0;
  margin-bottom: 20px;
  background: DodgerBlue;
  text-align: center;
}
div {
  text-align: center;
}
button {
  padding: 5px 5px;
  margin: 5px 5px;
}
.comment-container {
  display: flex;
  width: 100%;
  height: auto;
}
.button-container {
  display: flex;
  width: 80%;
  height: auto;
}
